{% extends 'base.html' %}
{% block content %}    
{% for post in posts %}
<a class="card mx-auto m-3 text-decoration-none card-color" style="width: 30rem;" href="/posts/{{post.id}}">
    <img class="card-img-top" src="{{post.img_url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.author.username}}</h6>
        <p class="card-text caption-text text-dark">{{post.caption}}</p>
    </div>
</a>
{% endfor %}
{% endblock %}