.main-background{
    background-color: aqua;
}

.caption-text {
    font-size: 32px;
}


/* 
.card-color{
    background-image: url(https://wallpapercave.com/wp/tuWSYqf.jpg) no-repeat center center fixed;
    background-color: #cccccc;
    
} */