{% extends 'base.html' %}
{% block content %}    
{% for post in posts %}
    {% if current_user.id == post.user_id %}
<a class="card mx-auto m-2 text-decoration-none card-color" style="width: 30rem;" href="#">
    <img class="card-img-top" src="{{post.pokemon_sprite}}" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title text-dark">Pokemon: {{post.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{post.author.username}}</h6>
        <p class="card-text caption-text text-dark">Abilites: {{post.pokemon_abilities}}</p>
        <p class="card-text caption-text text-dark">Base Exp: {{post.pokemon_base_exp}}</p>
        <p class="card-text caption-text text-dark">Attack: {{post.pokemon_attack}}</p>
        <p class="card-text caption-text text-dark">HP: {{post.pokemon_hp}}</p>
        <p class="card-text caption-text text-dark">Defense: {{post.pokemon_defense}}</p>
    </div>
</a>
    {% endif %}
{% endfor %}
{% endblock %}